In [56]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Sanchit Dakle\OneDrive\Desktop\Excelar\adult_with_headers.csv")
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.shape

(32561, 15)

In [4]:
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [6]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [7]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [8]:
sc=StandardScaler()

In [9]:
numerical_features = df.select_dtypes(include=['float64', 'int64'])

In [10]:
 sc.fit_transform(numerical_features)

array([[ 0.03067056, -1.06361075,  1.13473876,  0.1484529 , -0.21665953,
        -0.03542945],
       [ 0.83710898, -1.008707  ,  1.13473876, -0.14592048, -0.21665953,
        -2.22215312],
       [-0.04264203,  0.2450785 , -0.42005962, -0.14592048, -0.21665953,
        -0.03542945],
       ...,
       [ 1.42360965, -0.35877741, -0.42005962, -0.14592048, -0.21665953,
        -0.03542945],
       [-1.21564337,  0.11095988, -0.42005962, -0.14592048, -0.21665953,
        -1.65522476],
       [ 0.98373415,  0.92989258, -0.42005962,  1.88842434, -0.21665953,
        -0.03542945]])

# MinMaxScaler

In [12]:
mn=MinMaxScaler()

In [13]:
 mn.fit_transform(numerical_features)

array([[0.30136986, 0.0443019 , 0.8       , 0.02174022, 0.        ,
        0.39795918],
       [0.45205479, 0.0482376 , 0.8       , 0.        , 0.        ,
        0.12244898],
       [0.28767123, 0.13811345, 0.53333333, 0.        , 0.        ,
        0.39795918],
       ...,
       [0.56164384, 0.09482688, 0.53333333, 0.        , 0.        ,
        0.39795918],
       [0.06849315, 0.12849934, 0.53333333, 0.        , 0.        ,
        0.19387755],
       [0.47945205, 0.18720338, 0.53333333, 0.1502415 , 0.        ,
        0.39795918]])

# 2.Encoding Techniques:

In [15]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [16]:
categorical_cols = [col for col in df.select_dtypes(include=['object']).columns if df[col].nunique() < 5]

In [17]:
LE=LabelEncoder()
for col in categorical_cols:
    df[col]=LE.fit_transform(df[col])

In [18]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,1,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,1,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,1,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,0,0,0,38,United-States,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,1,0,0,40,United-States,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,0,0,0,40,United-States,0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,1,0,0,20,United-States,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,0,15024,0,40,United-States,1

# Label Encoder

In [20]:
categorical_cols = [col for col in df.select_dtypes(include=['object']).columns if df[col].nunique() > 5]

In [21]:
LE=LabelEncoder()
for col in categorical_cols:
    df[col]=LE.fit_transform(df[col])

In [22]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,7,77516,9,13,4,1,1,White,1,2174,0,40,39,0
1,50,6,83311,9,13,2,4,0,White,1,0,0,13,39,0
2,38,4,215646,11,9,0,6,1,White,1,0,0,40,39,0
3,53,4,234721,1,7,2,6,0,Black,1,0,0,40,39,0
4,28,4,338409,9,13,2,10,5,Black,0,0,0,40,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,7,12,2,13,5,White,0,0,0,38,39,0
32557,40,4,154374,11,9,2,7,0,White,1,0,0,40,39,1
32558,58,4,151910,11,9,6,1,4,White,0,0,0,40,39,0
32559,22,4,201490,11,9,4,1,3,White,1,0,0,20,39,0
32560,52,5,287927,11,9,2,4,5,White,0,15024,0,40,39,1

# 3. Feature Engineering:

In [44]:
df['age_hours_interaction'] = df['age'] * df['hours_per_week']

In [46]:
df['age_hours_interaction']

0        1560
1         650
2        1520
3        2120
4        1120
         ...
32556    1026
32557    1600
32558    2320
32559     440
32560    2080
Name: age_hours_interaction, Length: 32561, dtype: int64

In [50]:
df['capital_gain_flag'] = df['capital_gain'].apply(lambda x: 1 if x > 0 else 0)

In [52]:
df['capital_gain_flag']

0        1
1        0
2        0
3        0
4        0
        ..
32556    0
32557    0
32558    0
32559    0
32560    1
Name: capital_gain_flag, Length: 32561, dtype: int64

In [58]:
df['log_capital_gain'] = np.log1p(df['capital_gain'])

In [60]:
df['log_capital_gain']

0        7.684784
1        0.000000
2        0.000000
3        0.000000
4        0.000000
           ...
32556    0.000000
32557    0.000000
32558    0.000000
32559    0.000000
32560    9.617471
Name: log_capital_gain, Length: 32561, dtype: float64

# 4 Feature Selection

In [63]:
from sklearn.ensemble import IsolationForest

In [65]:
iso = IsolationForest(contamination=0.05)
numerical_features = df.select_dtypes(include=['number'])
outliers = iso.fit_predict(df[['age', 'hours_per_week']])
df = df[outliers != -1]

In [67]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,age_hours_interaction,capital_gain_flag,log_capital_gain
0,39,7,77516,9,13,4,1,1,White,1,2174,0,40,39,0,1560,1,7.684784
1,50,6,83311,9,13,2,4,0,White,1,0,0,13,39,0,650,0,0.000000
2,38,4,215646,11,9,0,6,1,White,1,0,0,40,39,0,1520,0,0.000000
3,53,4,234721,1,7,2,6,0,Black,1,0,0,40,39,0,2120,0,0.000000
4,28,4,338409,9,13,2,10,5,Black,0,0,0,40,5,0,1120,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,7,12,2,13,5,White,0,0,0,38,39,0,1026,0,0.000000
32557,40,4,154374,11,9,2,7,0,White,1,0,0,40,39,1,1600,0,0.000000
32558,58,4,151910,11,9,6,1,4,White,0,0,0,40,39,0,2320,0,0.000000
32559,22,4,201490,11,9,4,1,3,White,1,0,0,20,39,0,440,0,0.000000
32560,52,5,287927,11,9,2,4,5,White,0,15024,0,40,39,1,2080,1,9.617471

In [69]:
iso.fit(numerical_features)

IsolationForest(contamination=0.05)

In [73]:
outlier_predictions = iso.predict(numerical_features)
# Remove outliers 
df_num = numerical_features[outlier_predictions != -1]

In [75]:
df_num

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,sex,capital_gain,capital_loss,hours_per_week,native_country,income,age_hours_interaction,capital_gain_flag,log_capital_gain
0,39,7,77516,9,13,4,1,1,1,2174,0,40,39,0,1560,1,7.684784
1,50,6,83311,9,13,2,4,0,1,0,0,13,39,0,650,0,0.000000
2,38,4,215646,11,9,0,6,1,1,0,0,40,39,0,1520,0,0.000000
3,53,4,234721,1,7,2,6,0,1,0,0,40,39,0,2120,0,0.000000
4,28,4,338409,9,13,2,10,5,0,0,0,40,5,0,1120,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,22,4,310152,15,10,4,11,1,1,0,0,40,39,0,880,0,0.000000
32556,27,4,257302,7,12,2,13,5,0,0,0,38,39,0,1026,0,0.000000
32557,40,4,154374,11,9,2,7,0,1,0,0,40,39,1,1600,0,0.000000
32558,58,4,151910,11,9,6,1,4,0,0,0,40,39,0,2320,0,0.000000
32559,22,4,201490,11,9,4,1,3,1,0,0,20,39,0,440,0,0.000000